---
import Introduction from "@sections/Introduction.astro";
import Education from "@sections/Education.astro"
import Experience from "@sections/Experience.astro"
---

<html lang="en" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Introduction />
    <Education />
    <Experience />
  </body>
</html>
