---
import Navbar from "@components/Navbar/Navbar.astro";
import Introduction from "@sections/Introduction.astro";
import Education from "@sections/Education.astro";
import Experience from "@sections/Experience.astro";
---

<script>
  import { changeSection } from "@store/currentSection";

  const sections = document.querySelectorAll("section");
  window.addEventListener("scroll", () => {
    let scrollY = window.scrollY;
    Array.from(sections).forEach((section) => {
      const sectionHeight = section.offsetHeight;
      const sectionTop = section.offsetTop - 140;
      const sectionId = section.getAttribute("id");
      if (scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
        changeSection(sectionId);
      }
    });
  });
</script>

<html lang="vi" data-theme="emerald">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="relative">
    <Navbar lang="vi" />
    <Introduction lang="vi" />
    <Education lang="vi" />
    <Experience lang="vi" />
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
